@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap");
body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  background-color: #0d0d0d;
  color: #fff;
  * {
    transition: 0.5s all;
    &:hover {
      transition: 0.5s all;
    }
  }
  &.overflow-0 {
    overflow: hidden;
  }
  .btn-default {
    background: rgb(255, 42, 107);
    background: linear-gradient(180deg, rgba(255, 42, 107, 1) 0%, rgba(255, 94, 58, 1) 100%);
    padding: 10px 10px;
    color: #fff;
    border-radius: 50px;
    border: 2px solid transparent;
    text-decoration: none;
    &:hover {
      color: #fff;
      // border: 2px solid #fff;
      background-position: 500px;
    }
  }

  .btn-default-2 {
    color: #fff;
    padding: 10px 10px;
    border-radius: 50px;
    text-decoration: none;
    border: 2px solid #fff;
    background: transparent;
    &:hover {
      color: #fff;
      background: rgb(255, 42, 107);
      background: linear-gradient(180deg, rgba(255, 42, 107, 1) 0%, rgba(255, 94, 58, 1) 100%);
    }
  }
}
#header {
  font-family: "Nunito Sans", sans-serif !important;
  position: fixed;
  padding: 5px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1050;
  background-color: #212121b3;
  backdrop-filter: blur(10px);
  nav {
    padding: 0;
    .w50 {
      width: 40%;
    }
    .navbar-brand {
      img {
        max-width: 140px;
      }
    }
  }
  ul {
    li {
      padding: 10px 11px;
      a {
        font: normal normal bold 20px/24px Nunito Sans;
        color: rgba(229, 231, 235, 0.5);
        font-size: 1.125rem;
        &:hover {
          color: rgba(229, 231, 235, 1);
        }
      }
    }
  }
}
#main {
  .Meet {
    padding: 150px 0 50px;
    .sefl {
      align-self: center;
      h1 {
        font-size: 32px;
        font-weight: 800;
        margin-bottom: 24px;
      }
      p {
        color: #898989;
        font-size: 19px;
      }
      .vfg {
        display: flex;
        justify-content: center;
      }
      .btn-default {
        width: 60%;
        text-align: center;
      }
      .btn-default-2 {
        width: 60%;
        text-align: center;
      }
    }
  }
  .Million {
    background-color: #212121cc;
    padding: 50px 0;
    h2 {
      font-size: 40px;
      font-weight: 900;
    }
    p {
      color: #898989;
    }
  }
  .Connected {
    padding: 50px 0;
    h1 {
      font-size: 36px;
      font-weight: 700;
    }
    a {
      background: #ff2a6b;
      color: #fff;
      border-radius: 50px;
      text-decoration: none;
      padding: 14px 69px;
    }
    h2 {
      font-size: 36px;
      font-weight: 700;
    }

    p {
      font-size: 20px;
      color: #898989;
      margin-bottom: 30px;
    }
    .my-5 {
      padding: 30px 0;
    }
  }
  .Sorry {
    padding: 150px 0 50px;
    // a {
    //   background: #ff2a6b;
    //   color: #fff;
    //   border-radius: 50px;
    //   text-decoration: none;
    //   padding: 12px 77px;
    // }
    h2 {
      font-size: 32px;
      font-weight: 800;
    }
    p {
      margin-bottom: 45px;
      font-size: 17px;
    }
  }
  .Vehicle {
    padding: 72px 0 50px;
    .box {
      background-image: url(../img/zeliot4.png);
      padding: 300px 0;
      background-repeat: no-repeat;
      background-size: cover;
      background-color: #00000040;
      background-blend-mode: overlay;
      .self {
        text-align: center;
        align-self: center;
        h2 {
          font: normal normal bold 32px/48px Nunito Sans;
          font-weight: 600;
        }
      }
    }
  }
  .list {
    padding: 50px 0;
    h2 {
      text-align: center;
      font: normal normal 800 32px/48px Nunito Sans;
      letter-spacing: 0px;
      color: #212121;
      margin-bottom: 40px;
    }
    .card {
      border: 0;
      background-color: #e5e7eb;
      border-radius: 20px;
    }
    .row {
      padding: 0 0 50px;
    }
    .card-title {
      color: black;
      // text-align: center;
      font-size: 28px;
      font-weight: 700;
      margin-bottom: 30px;
    }
  }
  .lodd {
    //   padding: 150px 0 50px;
    height: 100vh;
    display: flex;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1030;
    background-color: #000;
    justify-content: center;
    align-self: center;
    align-items: center;
    h1 {
      font-size: 150px;
      color: transparent;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 0.95;
      margin-bottom: 20px;
      webkit-text-fill-color: black;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #fff;
    }
  }
  .guaranteed {
    padding: 50px 0 50px;
    .navi {
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
      overflow-x: auto;
      &::-webkit-scrollbar {
        width: 0;
      }
      .navi-item {
        height: 125px;
        width: 185px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: baseline;
        img {
          height: 60px;
          transition: 0.5s all;
        }
        a {
          font-weight: 600;
          font-size: 17px;
          margin: 20px 0 0;
          color: #fff;
          text-decoration: none;
          display: inline-block;
        }
        &:hover {
          img {
            // filter: invert(46%) sepia(75%) saturate(6620%) hue-rotate(325deg) brightness(100%) contrast(104%);
            transition: 0.5s all;
          }
          a {
            color: #ff2a6b;
            transition: 0.5s all;
          }
        }
      }
    }
  }
  .time {
    padding: 50px 0;
    h1 {
      font-size: 36px;
      font-weight: 700;
      margin: 0 0 30px;
    }
    a {
      width: 100%;
    }
    p {
      margin: 0 0 30px;
      font-size: 20px;
    }
    img {
      border-radius: 10px;
    }
  }
  .time {
    padding: 50px 0;
    h1 {
      font-size: 36px;
      font-weight: 700;
      margin: 0 0 30px;
    }
    a {
      width: 100%;
    }
    p {
      margin: 0 0 30px;
      font-size: 20px;
    }
    img {
      border-radius: 10px;
    }
  }

  //solution
  .gua {
    padding: 80px 0 50px;
    .navi {
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
      overflow-x: auto;
      &::-webkit-scrollbar {
        width: 0;
      }
      .navi-item {
        height: 125px;
        width: 185px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: baseline;
        img {
          height: 60px;
          transition: 0.5s all;
        }
        a {
          font-weight: 600;
          font-size: 17px;
          margin: 20px 0 0;
          color: #fff;
          text-decoration: none;
          display: inline-block;
        }
        &:hover {
          img {
            // filter: invert(46%) sepia(75%) saturate(6620%) hue-rotate(325deg) brightness(100%) contrast(104%);
            transition: 0.5s all;
          }
          a {
            color: #ff2a6b;
            transition: 0.5s all;
          }
        }
      }
    }
    .container-fluid {
      padding: 0;
    }
  }
  .iop {
    padding: 50px 0 50px;
  }
  .Messa {
    background-color: #212121cc;
    padding: 74px 0;
    .d-flex {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      .just {
        h3 {
          font-size: 30px;
          font-weight: 800;
        }
        p {
          color: #fdf9ee90;
          font-size: 16px;
        }
      }
    }
  }
  .bann {
    padding: 50px 0 60px;
    h1 {
      padding-bottom: 40px;
      font-weight: 800;
      font-size: 32px;
    }
    .row {
      padding: 20px 0 0;
      justify-content: center;
      p {
        color: #f3f3f3;
        font-size: 18px;
      }
      a {
        width: 100%;
      }
      h2 {
        font-size: 32px;
        color: #f3f3f3;
        padding-bottom: 17px;
      }
    }
    .w-100 {
      width: 100% !important;
      border-radius: 20px;
    }
  }
  .navi-menu {
    padding: 50px 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow-x: auto;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;
    a {
      color: inherit;
      text-decoration: inherit;
      img {
        width: 4em;
        height: auto;
      }
    }
    .navi-link-inner {
      flex-direction: column;
      align-items: center;
      flex: 0 0 auto;
      width: 9rem;
    }
    .navi-text {
      font-size: 0.875rem;
      line-height: 1.25rem;
      margin-top: calc(0.25rem * (1 - 0));
      margin-bottom: calc(0.25rem * 0);
      text-align: center;
    }
  }
  .time {
    padding: 50px 0;
    h1 {
      font-size: 36px;
      font-weight: 700;
      margin: 0 0 30px;
    }
    a {
      width: 100%;
      i{
        font-size: 40px;
      }
    }
    p {
      margin: 0 0 30px;
      font-size: 20px;
    }
    img {
      border-radius: 10px;
    }
  }
  .messages {
    background-color: #212121cc;
    padding: 60px 0;
    h3 {
      font-size: 32px;
      font-weight: 800;
    }
    p {
      color: #fdf9ee90;
      font-size: 22px;
      margin: 0;
    }
  }
  .never {
    padding: 50px 0;
    background-color: white;
    .row {
      .card {
        border: 0;
        img {
          border-radius: 20px;
        }
        .card-body {
          .card-title {
            font-size: 30px;
            font-weight: 700;
            color: #0d0d0d;
          }
          .card-text {
            font-size: 16px;
            color: #212121cc;
          }
          a {
            width: 50%;
          }
        }
      }
    }
  }
  .tim {
    padding: 50px 0;
    background-color: #fff;
    h2 {
      font-size: 46px;
      font-weight: 700;
      margin: 0 0 30px;
      color: black;
      text-align: center;
    }
    h1 {
      font-size: 36px;
      font-weight: 700;
      margin: 20px 0 ;
      color: black;
    }
    .btn-default-2 {
      color: #000;
      border: 2px solid #000;
    }
    a {
      width: 100%;
    }
    p {
      margin: 0 0 30px;
      font-size: 20px;
      color: black;
    }
    img {
      border-radius: 10px;
    }
  }
  .action {
    padding: 50px 0;
    background-color: #fff;
    h1 {
      font-size: 32px;
      text-align: center;
      color: #0d0d0d;
      font-weight: 600;
      padding-bottom: 30px;
    }
  }

  //Solution-EVS
  .navi-menu {
    padding: 40px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow-x: auto;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;
    a {
      color: inherit;
      text-decoration: inherit;
      img {
        width: 4em;
        height: auto;
      }
    }
    .navi-link-inner {
      flex-direction: column;
      align-items: center;
      flex: 0 0 auto;
      width: 9rem;
    }
    .navi-text {
      font-size: 0.875rem;
      line-height: 1.25rem;
      margin-top: calc(0.25rem * (1 - 0));
      margin-bottom: calc(0.25rem * 0);
      text-align: center;
    }
  }
  .time {
    padding: 50px 0;
    h1 {
      font-size: 36px;
      font-weight: 700;
      margin: 0 0 30px;
    }
    a {
      width: 100%;
      i{
        font-size: 40px;
      }
    }
    p {
      margin: 0 0 30px;
      font-size: 20px;
    }
    img {
      border-radius: 10px;
    }
  }
  .messages {
    background-color: #212121cc;
    padding: 60px 0;
    h3 {
      font-size: 32px;
      font-weight: 800;
    }
    p {
      color: #fdf9ee90;
      font-size: 22px;
      margin: 0;
    }
  }
  .features {
    padding: 60px 0;
    .row {
      .col-6 {
        padding: 0 6px 6px;
      }
    }
    h1 {
      font-weight: 700;
      font-size: 40px;
      text-align: center;
      margin-bottom: 50px;
    }
    .card {
      background-color: #212121cc;
      border-radius: 20px;
      height: 100%;
      .card-body {
        // padding: 0;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        text-align: center;
        align-items: center;
        align-self: center;
        img {
          width: 65%;
          padding: 0 0 25px;
        }
        p {
          margin: 0;
          color: #f3f3f3;
        }
      }
    }
  }
  .stry {
    h1 {
      font-size: 45px;
      font-weight: 700;
      text-align: center;
      padding: 40px 0;
    }
    .container-fluid {
      padding: 0;
      text-align: center;
      iframe {
        width: 100%;
        height: 90vh;
      }
    }
  }

  //Solution-FMS
  .navi-menu {
    padding: 40px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow-x: auto;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;
    a {
      color: inherit;
      text-decoration: inherit;
      img {
        width: 4em;
        height: auto;
      }
    }
    .navi-link-inner {
      flex-direction: column;
      align-items: center;
      flex: 0 0 auto;
      width: 9rem;
    }
    .navi-text {
      font-size: 0.875rem;
      line-height: 1.25rem;
      margin-top: calc(0.25rem * (1 - 0));
      margin-bottom: calc(0.25rem * 0);
      text-align: center;
    }
  }
  .time {
    padding: 50px 0;
    h1 {
      font-size: 36px;
      font-weight: 700;
      margin: 0 0 30px;
    }
    a {
      width: 100%;
      i{
        font-size: 40px;
      }
    }
    p {
      margin: 0 0 30px;
      font-size: 20px;
    }
    img {
      border-radius: 10px;
    }
  }
  .messages {
    background-color: #212121cc;
    padding: 60px 0;
    h3 {
      font-size: 32px;
      font-weight: 800;
    }
    p {
      color: #fdf9ee90;
      font-size: 22px;
      margin: 0;
    }
  }
  .features {
    padding: 60px 0;
    .row {
      .col-6 {
        padding: 0 6px 6px;
      }
    }
    h1 {
      font-weight: 700;
      font-size: 40px;
      text-align: center;
      margin-bottom: 50px;
    }
    .card {
      background-color: #212121cc;
      border-radius: 20px;
      height: 100%;
      .card-body {
        // padding: 0;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        text-align: center;
        align-items: center;
        align-self: center;
        img {
          width: 65%;
          padding: 0 0 25px;
        }
        p {
          margin: 0;
          color: #f3f3f3;
        }
      }
    }
  }
  .stry {
    h1 {
      font-size: 45px;
      font-weight: 700;
      text-align: center;
      padding: 40px 0;
    }
    .container-fluid {
      padding: 0;
      text-align: center;
      iframe {
        width: 100%;
        height: 90vh;
      }
    }
  }
  .mobile {
    padding: 50px 0;
    background-color: #212121;
    .text {
      text-align: center;
      h1 {
        margin-bottom: 20px;
        font-size: 32px;
      }
      img {
        width: 100%;
      }
    }
  }

  //product
  .link {
    a {
      text-decoration: none;
      color: #fff;
      width: 100%;
      display: block;
      text-align: center;
      border-radius: 0;
    }
  }
  .bane {
    padding: 50px 0 60px;

    .row {
      padding: 20px 0 0;
      justify-content: center;
      p {
        color: black;
        font-size: 18px;
      }
      a {
        width: 100%;
      }
      .btn-default-2 {
        color: #000;
        padding: 10px 10px;
        border-radius: 50px;
        text-decoration: none;
        border: 2px solid #000;
        background: transparent;
        font-weight: 600;
        &:hover {
          color: #fff;
          background: rgb(255, 42, 107);
          background: linear-gradient(180deg, rgba(255, 42, 107, 1) 0%, rgba(255, 94, 58, 1) 100%);
        }
      }
      h2 {
        font-size: 32px;
        color: black;
        font-weight: 700;
        padding-bottom: 17px;
      }
    }
    .w-100 {
      width: 100% !important;
      border-radius: 20px;
    }
  }
  .elitr {
    padding: 50px 0;
    background-color: #fff;
    h1 {
      font-size: 36px;
      font-weight: 700;
      margin: 0 0 30px;
      color: #0d0d0d;
    }
    a {
      width: 100%;
    }
    p {
      margin: 0 0 30px;
      color: #212121cc;
      font-size: 20px;
    }
    img {
      border-radius: 10px;
    }
    .btn-default-2 {
      color: #000;
      padding: 10px 10px;
      border-radius: 50px;
      text-decoration: none;
      border: 2px solid #000;
      background: transparent;
      font-weight: 600;
      &:hover {
        color: #fff;
        background: rgb(255, 42, 107);
        background: linear-gradient(180deg, rgba(255, 42, 107, 1) 0%, rgba(255, 94, 58, 1) 100%);
      }
    }
  }
}
#footer {
  padding: 50px 0;
  h2 {
    font-size: 36px;
    font-weight: 700;
  }
  p {
    font-size: 20px;
    color: #898989;
  }
  a {
    width: 65%;
    text-align: center;
  }
  .pad {
    padding-top: 20px;
  }
  button {
    padding: 10px 70px;
    font-size: 22px;
    width: 100%;
  }
  input {
    text-align: center;
    padding: 15px 70px;
    font-size: 18px;
    background: #212121cc;
    border: 0;
    width: 100%;
    color: #fff;
    border-radius: 50px;
  }
}
#footeraccess {
  padding: 50px 0;
  background-color: #fff;
  h2 {
    font-size: 36px;
    font-weight: 700;
    color: black;
  }
  p {
    font-size: 20px;
    color: #898989;
  }
  a {
    width: 65%;
    text-align: center;
  }
  .pad {
    padding-top: 20px;
  }
  input {
    text-align: center;
    padding: 15px 70px;
    font-size: 18px;
    background: #d1d5d8;
    border: 0;
    color: #fff;
    border-radius: 50px;
  }
}
@media (max-width: 1199.98px) {
  #main .time h1 {
    font-size: 32px;
  }
  #main .time p {
    font-size: 16px;
  }
  #main .Connected h1 {
    font-size: 33px;
  }
  #main .Connected h2 {
    font-size: 30px;
  }
  #main .Connected p {
    font-size: 15px;
  }
  #footer p {
    font-size: 18px;
  }
  #header nav .w50 {
    width: 76%;
  }
  #footer h2 {
    font-size: 25px;
  }
  #main .banne .row h2 {
    font-size: 27px;
    font-weight: 600;
  }
  #main .never .row .card .card-body .card-title {
    font-size: 23px;
  }
  #main .elitr h1 {
    font-size: 31px;
    margin: 0 0 23px;
  }
  #footer a {
    width: 77%;
  }
  #footeraccess input {
    padding: 15px 43px;
  }
  #footeraccess h2 {
    font-size: 34px;
  }
}
@media (max-width: 991.98px) {
  .messages .col-md-4 {
    margin-bottom: 20px;
  }
  #main .time p {
    margin: 0 0 6px;
  }
  #main .time h1 {
    font-size: 22px;
    margin: 0 0 6px;
  }
  #footer input {
    padding: 15px 23px;
  }
  #main .elitr h1 {
    font-size: 24px;
    margin: 0 0 18px;
  }
  #main .elitr p {
    font-size: 12px;
    padding: 0 0 20px;
  }
  #main .never .row .card .card-body .card-title {
    font-size: 19px;
  }
  #main .never .row .card .card-body .card-text {
    font-size: 13px;
  }
  #main .time p {
    font-size: 12px;
  }
  #main .banne .row h2 {
    font-size: 20px;
  }
  #main .banne .row p {
    font-size: 14px;
  }
  #main .banne h1 {
    font-size: 27px;
  }
  #main .elitr a {
    width: 107%;
  }
  #main .elitr h1 {
    margin: 0 0 10px;
  }
  #main .elitr p {
    margin: 0 0 9px;
  }
  #footeraccess h2 {
    font-size: 25px;
  }
  #footeraccess input {
    padding: 15px 3px;
  }
}
@media (max-width: 767.98px) {
  #main .messages h3 {
    font-size: 20px;
  }
  #main .messages p {
    font-size: 14px;
  }
  #main .messages {
    padding: 35px 0;
  }
  #main .stry .container-fluid iframe {
    height: 400px;
  }
  #main .features {
    padding: 30px 0;
  }
  #main .time {
    padding: 25px 0;
  }
  #footer p {
    text-align: center;
  }
  #main .time img {
    margin: 20px 0;
  }
  #main .features h1,
  #main .stry h1 {
    font-size: 28px;
  }
  #main .time a {
    margin: 10px 0;
    display: block;
  }
  #main .Meet .sefl .a1 {
    padding: 12px 58px;
  }
  #main .Meet .sefl a {
    padding: 12px 58px;
  }
  #main .Meet .sefl h1 {
    font-size: 30px;
    margin-top: 30px;
  }
  #main .Connected h1 {
    font-size: 28px;
    text-align: center;
  }
  img.img-fluid.ed {
    padding-top: 30px;
  }
  #footer input {
    padding: 15px 154px;
  }
  #footer a {
    padding: 14px 230px;
  }
  #footer h2 {
    font-size: 32px;
    text-align: center;
  }
  #header nav .w50 {
    width: 55%;
  }
  #main .banne .row h2 {
    font-size: 27px;
  }
  #main .banne .row h2 {
    font-size: 27px;
  }
  #main .bann .row a,#main .tim a{
    margin: 10px 0;
    display: block;
  }
  #main .never .row .card .card-body a{
    width: 100%;
  }
  #main .Sorry {
padding: 70px 0 50px;
  }
  #main .Sorry h2{
    margin:20px 0 10px;
  }
  .displaay {
    display: flex;
    justify-content: center;
  }
  
  // #main .time a {
  //   width: 65%;
  // }
  #main .elitr h1 {
    margin: 12px 0 18px;
  }
  #main .elitr a {
    width: 65%;
  }
  #footer input {
    padding: 15px 128px;
  }
  #main .time h1 {
    font-size: 27px;
  }
  .pad {
    justify-content: center !important;
  }
  #footeraccess input {
    padding: 15px 55px;
  }
  #main .Vehicle {
    padding: 63px 0 50px;
  }
}
@media (max-width: 425.98px) {
  #main .Meet .sefl h1 {
    font-size: 29px;
    margin-top: 30px;
  }
  #main .Meet .sefl p {
    font-size: 16px;
  }
  #main .Meet .sefl a {
    padding: 12px 9px;
    margin-bottom: 10px;
    text-align: center;
  }
  #main .Meet .sefl .a1 {
    padding: 12px 9px;
    text-align: center;
    margin: 0;
  }
  #main .Meet .sefl .vfg {
    flex-direction: column;
  }
  main .Connected h1 {
    font-size: 21px;
    text-align: center;
  }
  #main .Connected h1 {
    font-size: 21px;
  }
  #footer a {
    padding: 13px 170px;
  }
  #footer input {
    padding: 15px 92px;
  }
  .navbar-dark .navbar-brand {
    margin: 0;
  }
  #footer p {
    text-align: center;
    font-size: 15px;
  }
}
@media (max-width: 425.98px) {
  .navbar-dark .navbar-brand {
    width: 70%;
  }
  #main .lodd h1 {
    font-size: 68px;
  }
  #main .Meet .sefl h1 {
    font-size: 19px;
  }
  #main .Million h2 {
    font-size: 23px;
  }
  #main .Connected h1 {
    font-size: 15px;
  }
  #main .Connected h2 {
    font-size: 23px;
  }
  #footer input {
    padding: 15px 41px;
  }
  #footer a {
    padding: 13px 117px;
  }
  #main .banne .row h2 {
    font-size: 22px;
  }
  #footer .pad {
    justify-content: center !important;
  }
  #main .action h1 {
    font-size: 26px;
  }
  #main .mobile .text h1 {
    font-size: 21px;
  }
  #main .Vehicle {
    padding: 56px 0 50px;
  }
  #footeraccess input {
    padding: 15px 21px;
  }
}
